<div class="flex flex-col items-center justify-center h-screen gap-4 p-4">
  <%= for post <- @posts do %>
    <div id="{post.id}" style="margin-bottom: 3rem;">
      <a href={~p"/posts/#{post.id}"}>
        <p class="font-mono text-xl font-semibold">
          <%= post.title %>
        </p>

        <%= raw post.description %>
      </a>
    </div>
  <% end %>
</div>